/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body {
    font-family: sans-serif;
}

/*UTILITIES*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
header {
    height: 150px;
    padding: 10px 50px;
    line-height: 50px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*GRIGLIA*/
#grid {
    height: 500px;
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed black;
}

/*CELLA*/
.cell {
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
}

/*BOTTONE*/
button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 75px;
    background-color: lightgoldenrodyellow;
}

/*TITOLO DELL'HEADER*/
h2 {
    color: lightgreen;
    font-size: 50px;
    padding: 10px 15px;
}

/*CLASSE NONE*/
.none {
    display: none;
}

/*CLASSE BLOCK*/
.bg-lightblue {
    background-color: lightblue;
}